<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, width: 100, height: 100, crop: :fill %>
<p><%= link_to 'Change stuff', edit_cocktail_path(@cocktail) %></p>

<ol>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %></li>
    <%= link_to dose_path(dose), method: :delete, data: { confirm: "You sure there, buddy?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</ol>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, collection: Ingredient.all, label: 'Sooo, what do you want to add here?' %>
  <%= f.input :description, label: 'How much' %>
  <%= f.submit 'Do it!', class: 'btn btn-sm btn-primary' %>
<% end %>


<%= link_to 'Back home', cocktails_path %>
